doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{pageTitle}
    style.
      pre {
        font-size: 20px;
      }
  body
    div.pure-g
      div.pure-u-1-12
      div.pure-u-5-6
        block content
